/* Defining the font-face rules: */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Variables */
:root {
    /* Colours: */
    --neon-green: #00FF88;
    --red: #FF1E00;
    --grey: #A2A2A2;
    --dark-green:#272A28;
    --white-opaque:rgba(255, 255, 255, 0.10);
    --black: #1a1a1a;
    --white: #FFFFFF;

    /* Fonts: */
    --header-font: 'Bebas Neue', sans-serif;
    --copy-font: 'Roboto', sans-serif;

    /* Header font sizes desktop: */
    --h1-size: 96px;
    --h2-size: 64px;
    --h3-size: 36px;
    --h4-size: 32px;
    --h5-size: 24px;

    /* Copy font sizes desktop: */
    --copy-large: 20px;
    --copy-medium: 16px;

    /* Copy font weights: */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
}

body {
    font-family: var(--copy-font);
    color: var(--white);
    background-color: var(--black);
}
  
h1, h2, h3, h4, h5 {
    font-family: var(--header-font);
}

/* Desktop fonts: */
h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }

.copy-large-med {
    font-size: var(--copy-large);
    font-weight: var(--weight-medium);
}

.copy-large-reg {
    font-size: var(--copy-large);
    font-weight: var(--weight-regular);
}

.copy-medium-sb {
    font-size: var(--copy-medium);
    font-weight: var(--weight-semibold);
}

.copy-medium-med {
    font-size: var(--copy-medium);
    font-weight: var(--weight-medium);
}

.copy-medium-reg {
    font-size: var(--copy-medium);
    font-weight: var(--weight-regular);
}
